.faden{
  visibility: hidden;
}


@keyframes parallax {
    0%{
        background-image: url(../../img/parallax/parallax_1.jpg);
        background-size: cover;
    }



    50%{
        background-image: url(../../img/parallax/parallax_2.jpg);
        background-size: cover;

    }



    100%{
        background-image: url(../../img/parallax/parallax_3.jpg);
        background-size: cover;

    }
 

}

@keyframes fadeIn {
    0% {
      visibility: hidden;
      opacity: 0%;
    }
    1%{
      visibility: visible;
      opacity: 0;
    }
    to {
      opacity: 100%;
      visibility: visible;
    }
  }

  .fadeIn{
    animation: fadeIn 200ms ease-in-out  forwards;

}


@keyframes fadeOut{
  from{
      visibility: visible;
      opacity: 1;
  }
  99%{
      visibility: visible;
      opacity: 0;
  }

  to{
      opacity: 0;
      visibility: hidden;
  
  }
}
.fadeOut{
  animation: fadeOut 200ms ease-in-out  forwards;

}


