@-webkit-keyframes parallax {
  0% {
    background-image: url(../../img/parallax/parallax_1.jpg);
    background-size: cover;
  }
  50% {
    background-image: url(../../img/parallax/parallax_2.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(../../img/parallax/parallax_3.jpg);
    background-size: cover;
  }
}
@keyframes parallax {
  0% {
    background-image: url(../../img/parallax/parallax_1.jpg);
    background-size: cover;
  }
  50% {
    background-image: url(../../img/parallax/parallax_2.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(../../img/parallax/parallax_3.jpg);
    background-size: cover;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 795px) {
  .hide-for-mobile {
    display: none;
  }
  .body {
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo1.jpg);
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
  }
}
@media screen and (min-width: 796px) {
  .hide-for-desktop {
    display: none;
  }
}
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 50px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header__nav-animation {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}
.header__nav li {
  list-style-type: none;
  display: inline-block;
  margin: 40px;
}
.header__nav .header__nav-title {
  color: rgb(233, 233, 233);
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 150ms ease-in-out;
}
.header__nav .header__nav-title:hover {
  color: rgb(22, 211, 148);
  font-size: 35px;
}
.header__nav .header__nav-lists a {
  display: flex;
  color: white;
  padding: 7px 5px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 20px;
  transition: 150ms ease-in-out;
  text-decoration: none;
}
.header__nav .header__nav-lists a:hover {
  color: rgb(22, 211, 148);
}
.header__nav-menu {
  color: white;
}
.header__nav-menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 2px 1px;
}
.header__nav-menu > span:not(:last-child) {
  margin-bottom: 6px;
}

/* FUNCIONALIDAD DEL MENU HAMBURGUESA */
.open .header__nav-menu > span:first-child {
  transform: rotate(45deg);
}
.open .header__nav-menu > span:nth-child(2) {
  opacity: 0;
}
.open .header__nav-menu > span:last-child {
  transform: rotate(-45deg);
}

/*   TENGO QUE EDITAR ESTO PARA QUE FUNCIONE */
@media screen and (max-width: 795px) {
  .header {
    justify-content: space-between;
  }
  .header__nav-title {
    margin-left: 30px;
  }
  .header__nav-menu {
    margin-right: 30px;
  }
}
.parallax {
  height: 100vh;
  width: auto;
  -webkit-animation: parallax 15s ease-in-out infinite both;
          animation: parallax 15s ease-in-out infinite both;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.parallax__opacity {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}
.parallax__title {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  justify-content: center;
  position: absolute;
  text-align: center;
  z-index: 3;
}
.parallax__title h1 {
  color: rgb(233, 233, 233);
  font-size: 40px;
}
.parallax__title h2 {
  color: rgb(233, 233, 233);
  font-size: 25px;
  font-style: italic;
}/*# sourceMappingURL=styles.css.map */