@mixin sizes($height, $width) {
    height: $height;
    width: $width;
}

@mixin flexDirection($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin commonTransitions{
    transition: 150ms ease-in-out;

}