@mixin sizes($height, $width) {
    height: $height;
    width: $width;
}

@mixin flexDirection($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin commonTransitions{
    transition: 150ms ease-in-out;

}

@mixin rotate{
    >span:first-child{
        transform: rotate(45deg);
    }
    >span:nth-child(2){
        opacity: 0;
    }
    >span:last-child{
        transform: rotate(-45deg);
    }
}